body {
    padding-top: 5rem;
}

td {
    white-space: pre-line;
}


table {
    table-layout: fixed;
}

th {
    vertical-align: inherit;
}

.large-col {
    width: 45%;
}

.small-col {
    width: 10%;
}

@media (max-width: 990px) {
    .large-col {
        width: 50%;
    }

    .small-col {
        width: 0%;
        display: none;
    }
}

.container{
    padding-top: 10px;
}

.cnButton{
    margin: 10px 10px  0px 0px;
}

.tz-tr {
    resize: vertical;
}

.download {
    text-align: right;
}

.help {
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    border-radius: 50px;
    background: #005cbf;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
}
