body {
    padding-top: 5rem;
}

th {
    width: 50%;
}

td {
    white-space: pre-line;
}

.container{
    padding-top: 10px;
}

.cnButton{
    margin: 10px 10px  0px 0px;
}

.tz-tr {
    resize: vertical;
}

.download {
    text-align: right;
}