{% extends 'skeleton.html' %}

{% block body %}
    <div class="container download">
        <a href="{%  url 'download' %}?language={{  translations.0.language.short }}"><button class="btn btn-outline-primary">Download</button></a>
    </div>

    <div class="container">

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Original</th>
              <th scope="col">Translation</th>
            </tr>
          </thead>
          <tbody>
            {% for e in translations %}
                <tr>
                    <td>{{ e.original }}</td>
                    <td class="td-tr" id="td-{{ e.position }}">{{ e.translation }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
