{% extends 'skeleton.html' %}

{% block body %}
    
    {% if translations %}
    	<div class="container download" xmlns="http://www.w3.org/1999/html">
		<p>
			{{ translated }} / {{ total_translations }} sentences translated  
		        <a href="{%  url 'download' %}?language={{  translations.0.language.short }}"><button class="btn btn-outline-primary">Download</button></a>
		</p>
	</div>

    	<div class="container">
	       	<table class="table table-striped">
	          <thead class="thead-dark">
        	    <tr>
	              <th scope="col" class="large-col">Original</th>
        	      <th scope="col" class="large-col">Translation</th>
        	      <th scope="col" class="small-col">Last Update</th>
	            </tr>
	          </thead>
	          <tbody>
	            {% for e in translations %}
	                <tr scope="row" id="{{ e.id }}">
	                    <td class="large-col">{{ e.original }}</td>
	                    <td class="td-tr large-col" id="td-{{ e.id }}">{{ e.translation }}</td>
			            <td class="small-col date">{{ e.updated_at }}</td>
	                </tr>
	            {% endfor %}
	          </tbody>
	        </table>
    {% else %}
    	<h3 class="text-center">No translation, please select a language or import a new one</h3>
    {% endif %}

    </div>
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="Help" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Help</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <b>How to change language ?</b><br/>
              <p>Click on the language selector in the page right corner of the page</p></br>
              <b>How to edit document ?</b><br />
              <p>Double click on the translation area to edit it. <br /> To save your changes just double click on the text box or click on the save button.</p><br/>

              <b>How import a new language ?</b><br/>
              <p>Go to import page.</p><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <button class="help" data-toggle="modal" data-target="#helpModal"><b>?</b></button>

    <script type="application/json" id="config">
        {{ config|safe }}
    </script>

    <script type="text/javascript">
        const { hubURL, topic } = JSON.parse(document.getElementById('config').textContent.replace(/'/g, '"'))
        const subscribeURL = new URL(hubURL)
        subscribeURL.searchParams.append('topic', topic)

        const es = new EventSource(subscribeURL, { withCredentials: false})

        es.onmessage = ({ data }) => {
            const {id, translation, updated_at} = JSON.parse(data)
            if (!id || !translation || !updated_at) throw new Error('Invalid payload')

            updateByID(id, translation, updated_at);
        }
    </script>
{% endblock %}
